*{
    font-family: Montserrat;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    height: 350px;
    background-color: rgba(0, 5, 68, 0.712);
    flex-direction: column;
    display: flex;
    padding: 20px 150px;
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
}
.label {
    padding-top: 50px;
    font-size: 22px;
    margin: 0;
}
input {
    height: 6px;
    border: solid 5px #32a7b1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
button {
    background-color: aqua;
    height: 30px;
    width: 110px;
    border: #000000 solid;
    border-radius: 10px;      
}
.textoUsuario {
    padding-top: 40px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}

